/* Global styling */
* {
  box-sizing: border-box;
}

/* Menu styling*/
.mobile_menu {
  display: none;
  width: 100%;
  margin: 0 auto;
  background: #e9e9e9;
  z-index: 99;
}

.menu-container {
  width: 80%;
  margin: 0 auto;
  background: #e9e9e9;
  z-index: 99;
}

.menu > ul {
  margin: 0 auto;
  width: 100%;
  list-style: none;
  padding: 0;
  position: relative;
  display: block;
  /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
  box-sizing: border-box;
}

.menu > ul:before,
.menu > ul:after {
  content: "";
  display: table;
}

.menu > ul:after {
  clear: both;
}

.menu > ul > li {
  float: left;
  background: #e9e9e9;
  padding: 0;
  margin: 0;
}

.menu > ul > li a {
  text-decoration: none;
  padding: 1.5em 3em;
  display: block;
  color: #333;
}

.menu > ul > li:hover {
  background: #f0f0f0;
}

.menu > ul > li > ul {
  display: none;
  width: 100%;
  background: #f0f0f0;
  padding: 20px;
  position: absolute;
  z-index: 99;
  left: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
  content: "";
  display: table;
}

.menu > ul > li > ul:after {
  clear: both;
}

.menu > ul > li > ul > li {
  margin: 0;
  padding-bottom: 0;
  list-style: none;
  width: 25%;
  background: none;
  float: left;
}

.menu > ul > li > ul > li a {
  color: #777;
  padding: .2em 0;
  width: 95%;
  display: block;
  border-bottom: 1px solid #ccc;
}

.menu > ul > li > ul > li > ul {
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
  box-sizing: border-box;
}

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
  content: "";
  display: table;
}

.menu > ul > li > ul > li > ul:after {
  clear: both;
}

.menu > ul > li > ul > li > ul > li {
  float: left;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  font-size: .8em;
}

.menu > ul > li > ul > li > ul > li a {
  border: 0;
}

.goBack_item {
  display: none !important;
}

.has_children_arrow {
  display: none;
}

.menu > ul > li > a > .has_children_arrow {
  display: block;
  margin-left: 10px;
  -webkit-transition: all 0.2s ease;
}

.rotated {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.open_menu {
  transform: scale(0.75, 0.75);
  position: relative;
  margin: auto;
  width: 100px;
  height: 100px;
  background: linear-gradient(to right, black 0%, black 100%);
  background-size: 50px 2px;
  background-position: center center;
  background-repeat: no-repeat;
  transition: 0.2s background;
  border: none;
  font-size: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  /* When open */
}
.open_menu:before, .open_menu:after {
  content: "";
  position: absolute;
  top: 35px;
  left: 25px;
  width: 50px;
  height: 2px;
  background: black;
  transition: 0.2s transform;
  transform-origin: 8px 7px;
}
.open_menu:after {
  top: 63px;
  transform-origin: 8px -5px;
}
.open_menu.is-open {
  background-size: 0px 2px;
}
.open_menu.is-open:before {
  transform: rotate(45deg);
}
.open_menu.is-open:after {
  transform: rotate(-45deg);
}

/* Menu Styling for mobile */
@media only screen and (max-width: 959px) {
  .mobile_menu {
    display: block;
  }

  .menu ul {
    display: none;
  }

  .menu > ul {
    display: block;
  }

  .menu ul, li {
    list-style: none;
    width: 100% !important;
    background-color: #e9e9e9 !important;
  }

  .menu-container ul {
    position: absolute;
    width: 100%;
    padding: 0 !important;
    top: 0;
  }

  .menu-container {
    width: 100%;
    height: calc(100vh - 120%);
    position: absolute;
    /*     top:0;
        left:0; */
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
  }

  .menu {
    position: relative;
    width: 100%;
  }

  .menu-container li {
    border-bottom: 1px solid black !important;
    padding: 0px !important;
  }

  .menu-container a {
    width: 100% !important;
    color: #333 1 !important;
    text-decoration: none !important;
    display: block !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 17px !important;
    padding-bottom: 17px !important;
    border-width: 3px !important;
    border-style: solid !important;
    border-color: transparent !important;
  }

  .menu-container a:active {
    border-color: black !important;
  }

  .goBack_item {
    display: block !important;
  }

  .has_children_arrow {
    display: block;
  }
}